body{font-size:1em;line-height:1.75em;color:#333}h1{font-size:1.25em;line-height:1.75em}h2{font-size:1em;line-height:1.75em}h3{font-size:0.938em;line-height:1.75em}h4{font-size:0.813em;line-height:1.75em}h5{font-size:0.75em;line-height:1.75em}h6{font-size:0.75em;line-height:1.75em}p{font-size:0.938em;line-height:1.75em}li{font-size:0.938em;line-height:1.75em}
/*# sourceMappingURL=font.css.map */
